# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3
*.db
data/logs/
data/*.shlv

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Python virtual environments
venv/
env/
ENV/

# Python cache
*.pyc

# Evaluation
docs/Evaluations.md

# Others
*.bak
*.tmp
